version: "3.8"

services:
  hive:
    build: ./hive/
    ports:
      - "8000:80"
    command: php -S 0.0.0.0:80
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - db
    networks:
      - hive
    volumes:
      - ./hive:/var/www/html

  db:
    build: ./db/
    image: mysql:latest
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - hive

  jenkins:
    build:
      context: ./jenkins/
    depends_on:
      - sonarqube
    environment:
      JENKINS_ADMIN_ID: "admin"
      JENKINS_ADMIN_PASSWORD: "admin"
      JENKINS_PORT: 8080
      SONARQUBE_PORT: 9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - hive
    ports:
      - "8080:8080"

  sonarqube:
    build: ./sonarqube/
    networks:
      - hive
    ports:
      - "9000:9000"

volumes:
  mysql_data:

networks:
  hive:
